:host {
  height: 100vh;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: fit-content;
}

.nav {
  width: 50%;
}
