.container {
  width: 100%;
  .tasks-list {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    .empty-message {
      text-align: center;
      margin-top: 10%;
    }
  }
}
