$button-color: #025dbb;

.actions {
  .mark-btn {
    margin-top: 8px;
    background: none;
    padding: 8px 16px;
    border: none;
    color: #025dbb;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: #eaeef3;
      border-radius: 40px;
    }
  }
}

.completed {
  text-decoration: line-through;
}

.delete-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 20px;

  &:hover {
    cursor: pointer;
  }

  img {
    height: 30px;
    width: 30px;
  }
}
