<mat-card class="create-task-container">
  <div class="title">Create a New Task</div>
  <div class="form-group">
    <mat-form-field class="full-width">
      <mat-label>Task Heading</mat-label>
      <input
        matInput
        [(ngModel)]="taskHeading"
        placeholder="Enter task heading"
      />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="full-width">
      <mat-label>Task Description</mat-label>
      <textarea
        matInput
        [(ngModel)]="taskDescription"
        placeholder="Enter task description"
      ></textarea>
    </mat-form-field>
  </div>

  <button class="submit-button" (click)="createTask()">Submit</button>
</mat-card>
