$button-color: #025dbb;

.create-task-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  .title {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  .submit-button {
    padding: 10px 0;
    color: $button-color;
    font-weight: bold;
    background: none;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 50px;
    cursor: pointer;
  }
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.full-width {
  width: 100%;
}
